.footer {
  position: relative;
  padding: 32px;
  background: hsl(0deg, 0%, 5%);
  color: white;
  text-align: center;
  position: fixed;
  top: 93%;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;  
}

.footer a {
  color: inherit;
}
